.venue {
  margin-bottom: 1rem;
  padding: 1.4rem;
  background-color: #FFF;
  border-radius: 3px;

  @media screen and (min-width: 700px) {
    p {
      margin-bottom: 0;
    }
  }
}

.venue__header {
  @media screen and (max-width: 700px) {
    display: inline-block;
  }
}

.venue__rating {
  @extend h2;
  padding-left: 0.6rem;
  color: #FFCA28;
}

.venue__status {
  color: #4CAF50;

  &--closed {
    color: #EF5350;
  }
}

.venue__latlng {
  font-size: 0.8rem;
  color: #9E9E9E;
}
