.venue {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #FFF;
  border-radius: 3px;
}

.venue__header {
  .venue__rating {
    color: #FFCA28;
  }
}

.venue__status {
  color: #4CAF50;

  &--closed {
    color: #EF5350;
  }
}
